#app {
	text-align: center;
}
h3 {
	font-size: 2vw;
}
.buttons {
	/*width: 100%;
	justify-content: center;*/
}
.btn {
	margin: 1rem;

}
.container {
	width: 100%;
	margin: auto;
	position: absolute;
	top: 10%; left: 0; bottom: 0; right: 0;
	/*top:10vh;*/
	/*display: grid;*/
	/*grid-template-columns: 1fr 1fr 1fr 1fr;*/
	/*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
	/*grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;*/
	/*grid-template-rows: 8;*/
}
.columns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/*grid-template-columns: 15vw 15vw 15vw 15vw;*/
	border: 2px solid black;
	text-align: center;
}
